
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    content: "";
   
    clear: both;
}

/* div.button-group{
    display: flex;
} */

.container{
    text-align: center;
}

.login-container {
    margin-top: 5%;
    align-content: center;
    margin-bottom: 5%;

    
}
.login-form-1 {
    background-color: #ffffff;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin-right: auto;
    
}

h1{
    
    margin-bottom: 5%;
}

.login-form-2 {
    
    padding: 5%;
    background-color: #5411ac;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
/*
    width: 40%;
    margin-left: 70px;
*/
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 15%;
}

.btnSubmit {
    margin:10px;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    transition:transform 150ms ease-in;
}



.login-form-1 .btnSubmit {
   
    font-weight: 600;
    color: #fff;
    background-color: #5411ac;
    
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #5411ac; ;
    background-color: #fff;
}

.btnSubmit:hover{
    transform: translate(5px,5px);
    background-color: rgb(16, 23, 39);
    color:white;
    
}

input{
    padding: 5px ;
    margin: 20px 20px;
}

.center{
    display:flex;
    float: center;
}
